body{
    margin: 0;
    padding-top: 72px;
    font-family:'Roboto',Arial;
}

button
{
    font-size: 16px;
    height: 30px;
    border-radius: 5px;
    background-color: white;
}
hr{
    border: none;
    height: 0.5px;
    background-color: rgb(207, 205, 205);
}

    
/*scroll bar styling*/

.sidebar::-webkit-scrollbar{
    width: 10px;
}
.sidebar::-webkit-scrollbar-thumb {
    background: rgb(151 147 147);
    border-radius: 16px;
    
}
